.navafter {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #f3f8ff;
  	width: 1440px;
  	height: 102px;
}
.bg-circlesvg-icon {
  	position: absolute;
  	top: calc(50% - 885px);
  	left: calc(50% - 885px);
  	width: 1770px;
  	height: 1770px;
  	overflow: hidden;
}
.carte-allongee-sur-une-table-e {
  	position: absolute;
  	top: -1031px;
  	left: 841px;
  	width: 4096px;
  	height: 2675px;
}
.bg-circlesvg {
  	position: absolute;
  	width: calc(100% + 2160px);
  	top: calc(50% - 531px);
  	right: -360px;
  	left: -1800px;
  	height: 1770px;
}
.social-pulse-community {
  	width: 698px;
  	position: relative;
  	letter-spacing: -1.2px;
  	line-height: 75px;
  	font-weight: 800;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-shrink: 0;
}
.h1 {
  	position: absolute;
  	top: calc(50% - 174.65px);
  	left: 0px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 8.3px 0px 0px;
}
.we-support-businesses {
  	position: absolute;
  	top: 4px;
  	left: 0px;
  	line-height: 30px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 597.9px;
  	height: 82px;
}
.div2 {
  	position: absolute;
  	top: calc(50% - 60.65px);
  	left: calc(50% - 269.75px);
  	width: 603.5px;
  	height: 90px;
  	overflow: hidden;
  	font-size: 20px;
  	color: #4335de;
}
.get-started {
  	position: relative;
  	line-height: 22.5px;
  	font-weight: 800;
  	z-index: 0;
}
.spanafter-icon {
  	width: 20px;
  	position: absolute;
  	margin: 0 !important;
  	top: 4.25px;
  	left: 208.66px;
  	height: 14px;
  	z-index: 1;
}
.span {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 4.7px 0px 0px;
  	position: relative;
  	z-index: 0;
}
.spanafter-icon1 {
  	width: 20px;
  	position: absolute;
  	margin: 0 !important;
  	top: 20px;
  	left: 143px;
  	height: 14px;
  	z-index: 1;
}
.a {
  	border-radius: 42px;
  	background-color: #ffc247;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 16px 52px 15.5px 20px;
  	position: relative;
}
.div4 {
  	position: absolute;
  	top: -0.37px;
  	left: 209px;
  	height: 55px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 48px 24px 0px;
  	box-sizing: border-box;
}
.div3 {
  	position: absolute;
  	top: calc(50% + 68.72px);
  	left: 15px;
  	width: 603.5px;
  	height: 150.5px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 19px;
}
.div1 {
  	width: 633.5px;
  	position: relative;
  	height: 461.3px;
}
.div {
  	position: absolute;
  	top: 123px;
  	left: calc(50% - 317px);
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.header {
  	position: absolute;
  	top: 102px;
  	left: 0px;
  	background-color: #f3f8ff;
  	width: 1440px;
  	height: 708px;
  	overflow: hidden;
  	text-align: center;
}
.corporate-values {
  	width: 301px;
  	position: relative;
  	letter-spacing: -0.72px;
  	line-height: 45px;
  	font-weight: 800;
  	display: flex;
  	align-items: center;
  	flex-shrink: 0;
}
.h2 {
  	position: absolute;
  	top: calc(50% - 311.5px);
  	left: calc(50% - 111px);
  	width: 410px;
  	height: 91px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 381px 1px 0px;
  	box-sizing: border-box;
}
.svg-icon {
  	width: 24px;
  	position: relative;
  	height: 24px;
  	overflow: hidden;
  	flex-shrink: 0;
  	transform:  rotate(-180deg);
}
.div7 {
  	width: 226px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 2px 193.6px 0px 0px;
  	box-sizing: border-box;
  	gap: 3.6px;
  	transform:  rotate(180deg);
}
.we-are-constantly {
  	width: 312.5px;
  	position: relative;
  	line-height: 20px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.innovation {
  	width: 79px;
  	position: relative;
  	font-size: 15px;
  	line-height: 20px;
  	font-weight: 800;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.blockquote {
  	position: absolute;
  	height: calc(100% - 20px);
  	top: 10px;
  	bottom: 10px;
  	left: 848px;
  	box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.1);
  	border-radius: 48px;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 36px 36px 96px;
  	box-sizing: border-box;
  	gap: 24px;
}
.we-place-human {
  	width: 318.8px;
  	position: relative;
  	line-height: 20px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.proximity {
  	position: relative;
  	font-size: 15px;
  	line-height: 20px;
  	font-weight: 800;
  	text-align: left;
}
.blockquote1 {
  	position: absolute;
  	height: calc(100% - 20px);
  	top: 10px;
  	bottom: 10px;
  	left: 1272px;
  	box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.1);
  	border-radius: 48px;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 36px;
  	box-sizing: border-box;
  	gap: 34px;
}
.we-are-committed {
  	width: 313.1px;
  	position: relative;
  	line-height: 20px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.blockquote2 {
  	position: absolute;
  	height: calc(100% - 20px);
  	top: 10px;
  	bottom: 10px;
  	left: 1696px;
  	box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.1);
  	border-radius: 48px;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 36px 36px 96px;
  	box-sizing: border-box;
  	gap: 31px;
}
.div6 {
  	width: 1248px;
  	position: relative;
  	height: 306px;
}
.div5 {
  	position: absolute;
  	top: 246px;
  	left: calc(50% - 1472px);
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 848px 0px 0px;
  	text-align: center;
  	font-size: 16px;
}
.section {
  	width: 1440px;
  	position: relative;
  	background: linear-gradient(180deg, #f7c95f, #fdb235);
  	height: 803px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.our-services {
  	position: relative;
  	letter-spacing: -1.2px;
  	line-height: 75px;
  	font-weight: 800;
}
.h21 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 329.9px 0px 330.1px;
}
.spanafter-icon2 {
  	width: 20px;
  	position: absolute;
  	margin: 0 !important;
  	top: 5px;
  	left: 129.03px;
  	height: 14px;
  	z-index: 1;
}
.span1 {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	position: relative;
}
.a1 {
  	border-radius: 42px;
  	background-color: #ffc247;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 16px 51.1px 15.5px 20px;
}
.div11 {
  	position: absolute;
  	top: 753px;
  	left: -15px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 442px 0px 418px;
  	font-size: 19px;
}
.build-your-vision-with-our-web {
  	position: absolute;
  	top: -188px;
  	left: -30px;
  	width: 350.8px;
  	height: 409px;
  	object-fit: cover;
}
.equipe-mixte-de-programmeurs-t-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 334.2px;
  	height: 188px;
  	object-fit: cover;
}
.figurelatest-insights-218357 {
  	width: 320px;
  	position: relative;
  	height: 180px;
  	overflow: hidden;
  	flex-shrink: 0;
  	/*background-image: url('figure#latest-insights-218357.png');*/
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top;
  	z-index: 0;
}
.website-creation-and {
  	width: 199px;
  	position: relative;
  	line-height: 30px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	height: 90px;
  	flex-shrink: 0;
}
.showcase-websites {
  	margin: 0;
}
.showcase-websites-dynamic-container1 {
  	width: 100%;
}
.showcase-websites-dynamic-container {
  	width: 221.9px;
  	position: relative;
  	font-size: 16px;
  	line-height: 24px;
  	display: flex;
  	align-items: center;
}
.div14 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 47px 50.1px 48px 48px;
  	gap: 25px;
  	z-index: 1;
}
.professionalism {
  	position: relative;
  	line-height: 20px;
  	font-weight: 800;
}
.p {
  	margin: 0 !important;
  	position: absolute;
  	height: calc(100% - 490px);
  	width: calc(100% - 159.6px);
  	top: 32px;
  	right: 139.6px;
  	bottom: 458px;
  	left: 20px;
  	border-radius: 48px;
  	background-color: #f3f8ff;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 12px 20.4px 12px 20px;
  	box-sizing: border-box;
  	z-index: 2;
  	text-align: left;
  	font-size: 15px;
}
.a2 {
  	position: absolute;
  	top: calc(50% - 267px);
  	left: 0px;
  	border-radius: 48px;
  	background-color: #fff;
  	height: 534px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 0px 54px;
  	box-sizing: border-box;
}
.figurelatest-insights-217525-icon {
  	width: 320px;
  	position: relative;
  	height: 180px;
  	overflow: hidden;
  	flex-shrink: 0;
  	object-fit: cover;
  	z-index: 0;
}
.community-management {
  	width: 205.8px;
  	position: relative;
  	line-height: 30px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.social-media-management-visual-container {
  	width: 222.8px;
  	position: relative;
  	font-size: 15px;
  	line-height: 24px;
  	display: flex;
  	align-items: center;
}
.div15 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 47px 49.2px 48px 48px;
  	gap: 25px;
  	z-index: 1;
}
.p1 {
  	margin: 0 !important;
  	position: absolute;
  	height: calc(100% - 490px);
  	width: calc(100% - 207.6px);
  	top: 24px;
  	right: 183.6px;
  	bottom: 466px;
  	left: 24px;
  	border-radius: 48px;
  	background-color: #f3f8ff;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 12px 20.4px 12px 20px;
  	box-sizing: border-box;
  	z-index: 2;
  	text-align: left;
  	font-size: 15px;
}
.a3 {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 736px;
  	border-radius: 48px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 0px 24px;
  	box-sizing: border-box;
  	font-size: 24px;
}
.design-and-graphics {
  	width: 198.2px;
  	position: relative;
  	line-height: 30px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.brand-guidelines-logo-container {
  	width: 219.2px;
  	position: relative;
  	font-size: 16px;
  	line-height: 24px;
  	display: flex;
  	align-items: center;
}
.div16 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 47px 52.8px 48px 48px;
  	gap: 25px;
  	z-index: 1;
}
.p2 {
  	margin: 0 !important;
  	position: absolute;
  	height: calc(100% - 490px);
  	width: calc(100% - 225.7px);
  	top: 24px;
  	right: 201.7px;
  	bottom: 466px;
  	left: 24px;
  	border-radius: 48px;
  	background-color: #f3f8ff;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 12px 21.3px 12px 20px;
  	box-sizing: border-box;
  	z-index: 2;
  	text-align: left;
  	font-size: 15px;
}
.a4 {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 368px;
  	border-radius: 48px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.div13 {
  	width: 1056px;
  	position: relative;
  	height: 534px;
}
.div12 {
  	position: absolute;
  	top: 147px;
  	left: calc(50% - 528px);
  	height: 549px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	font-size: 23px;
}
.div10 {
  	width: 1056px;
  	position: relative;
  	height: 807.5px;
}
.aside {
  	background-color: #f3f8ff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 84px 192px;
  	text-align: center;
  	font-size: 56px;
}
.lets-build-your-container {
  	position: absolute;
  	top: 2px;
  	left: 60px;
  	letter-spacing: -0.72px;
  	line-height: 45px;
  	font-weight: 800;
  	display: flex;
  	align-items: center;
  	width: 446.4px;
  	height: 130px;
}
.we-help-businesses {
  	position: absolute;
  	top: 175px;
  	left: 60px;
  	font-size: 20px;
  	line-height: 30px;
  	display: flex;
  	align-items: center;
  	width: 448.2px;
  	height: 112px;
}
.spanafter-icon3 {
  	width: 20px;
  	position: absolute;
  	margin: 0 !important;
  	top: 4.25px;
  	left: 125px;
  	height: 14px;
  	z-index: 1;
}
.span2 {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 4.7px 0px 0px;
  	position: relative;
}
.a5 {
  	border-radius: 42px;
  	background-color: #ffc247;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 16px 51.1px 15.5px 20px;
  	box-sizing: border-box;
}
.div19 {
  	position: absolute;
  	top: 434.52px;
  	left: 60px;

  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 223.3px 0px 0px;
  	box-sizing: border-box;
  	font-size: 19px;
}
.div18 {
  	width: 588px;
  	position: relative;
  	height: 496px;
}
.figure {
  	position: absolute;
  	height: calc(100% + 14px);
  	width: calc(100% + 14px);
  	top: -7.02px;
  	right: -21.02px;
  	bottom: -6.98px;
  	left: 7.02px;
  	background-color: #ffc247;
}
.adobestock-350132639-scaled-2-icon {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	bottom: 0px;
  	left: 0px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.div20 {
  	width: 468px;
  	position: relative;
  	height: 468px;
}
.div17 {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 60px 0px 0px;
  	gap: 60px;
}
.section1 {
  	background-color: #fff;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 84px 132px;
}


.group-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 9.23px;
  	background-color: #fff;
  	border: 2.8px solid #001c80;
  	box-sizing: border-box;
  	width: 364.2px;
  	height: 788.8px;
}
.rectangle-wrapper {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 364.2px;
  	height: 788.8px;
}
.starter {
  	position: relative;
  	letter-spacing: 0.01em;
  	line-height: 27.7px;
  	font-weight: 600;
}
.starter-wrapper {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 5.54px;
  	background-color: #f1f1f1;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5.5px 13.8px;
}
.frame-wrapper {
  	width: 80.7px;
  	position: relative;
  	height: 39.1px;
}
.get-started-with {
  	width: 307px;
  	position: relative;
  	font-weight: 300;
  	color: #000;
  	text-align: left;
  	display: inline-block;
}
.group-container {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 15px;
}
.frame-child {
  	width: 276.7px;
  	position: relative;
  	border-top: 0.9px solid #001c80;
  	box-sizing: border-box;
  	height: 0.9px;
  	opacity: 0.3;
}
.div21 {
  	position: relative;
  	letter-spacing: -0.46px;
  	line-height: 73.12px;
  	font-weight: 600;
}
.per-month {
  	position: relative;
  	font-size: 14.77px;
  	line-height: 24px;
  	font-weight: 600;
  	color: #000;
  	opacity: 0.8;
}
.parent {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	text-align: left;
  	font-size: 66.47px;
}
.publication-week {
  	position: absolute;
  	top: 0px;
  	left: 26.8px;
  	line-height: 24px;
}
.check-fill-icon {
  	position: absolute;
  	top: 0.92px;
  	left: 0px;
  	width: 22.2px;
  	height: 22.2px;
  	object-fit: cover;
}
.publication-week-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 172.8px;
  	height: 24px;
}
.group-wrapper {
  	width: 172.8px;
  	position: relative;
  	height: 24px;
}
.videos-month {
  	position: absolute;
  	top: 0px;
  	left: 26.8px;
  	line-height: 24px;
  	white-space: pre-wrap;
}
.videos-month-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 152.8px;
  	height: 24px;
}
.group-frame {
  	width: 152.8px;
  	position: relative;
  	height: 24px;
}
.month-free-for-any-annual-paym-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 299.8px;
  	height: 24px;
}
.group-div {
  	width: 299.8px;
  	position: relative;
  	height: 24px;
}
.frame-div {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 14px;
  	text-align: left;
  	color: #000;
}
.backorder {
  	position: relative;
  	line-height: 22.16px;
}
.button {
  	width: 276px;
  	border-radius: 3.69px;
  	background-color: #000;
  	height: 36.9px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 64.6px;
  	box-sizing: border-box;
}
.no-credit-card {
  	position: relative;
  	font-size: 12.92px;
  	line-height: 24px;
  	font-family: Poppins;
  	color: #444;
  	text-align: left;
}
.button-parent {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 5px;
  	color: #fff;
  	font-family: Roboto;
}
.frame-parent {
  	position: absolute;
  	top: 43.08px;
  	left: 40px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 28px;
}
.group-parent {
  	width: 366px;
  	position: relative;
  	height: 789px;
}
.group-item {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 9.23px;
  	background-color: #000b6b;
  	border: 2.8px solid #001c80;
  	box-sizing: border-box;
  	width: 366.9px;
  	height: 837px;
}
.button1 {
  	width: 75.7px;
  	border-radius: 3.69px;
  	background-color: #a9b2ff;
  	height: 22.2px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	font-family: Roboto;
}
.frame-container {
  	width: 97.7px;
  	position: relative;
  	height: 39.1px;
  	color: #000b33;
}
.step-up-your {
  	width: 308px;
  	position: relative;
  	font-weight: 300;
  	color: #fff;
  	text-align: left;
  	display: inline-block;
}
.frame-inner {
  	width: 276.7px;
  	position: relative;
  	border-top: 0.9px solid #fff;
  	box-sizing: border-box;
  	height: 0.9px;
  	opacity: 0.4;
}
.per-month1 {
  	position: relative;
  	font-size: 14.77px;
  	line-height: 24px;
  	font-weight: 600;
  	opacity: 0.8;
}
.group {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	text-align: left;
  	font-size: 66.47px;
  	color: #fff;
}
.publication-week-group {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 176.8px;
  	height: 24px;
}
.group-wrapper1 {
  	width: 176.8px;
  	position: relative;
  	height: 24px;
}
.videos-month-group {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 153.8px;
  	height: 24px;
}
.group-wrapper2 {
  	width: 153.8px;
  	position: relative;
  	height: 24px;
}
.moderation-service-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 170.8px;
  	height: 24px;
}
.group-wrapper3 {
  	width: 170.8px;
  	position: relative;
  	height: 24px;
}
.group-parent1 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 14px;
  	text-align: left;
  	color: #fff;
}
.button2 {
  	width: 276px;
  	border-radius: 3.69px;
  	background-color: #f9d783;
  	height: 36.9px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 64.6px;
  	box-sizing: border-box;
}
.no-credit-card1 {
  	position: relative;
  	font-size: 12.92px;
  	line-height: 24px;
  	font-family: Poppins;
  	color: #fff;
  	text-align: left;
}
.button-container {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 5px;
  	font-family: Roboto;
}
.frame-group {
  	position: absolute;
  	top: 45px;
  	left: calc(50% - 143.16px);
  	background-color: #000b6b;
  	width: 288.5px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 28px;
}
.rectangle-parent {
  	width: 366.9px;
  	position: relative;
  	height: 837px;
  	color: #000b6b;
}
.frame-wrapper1 {
  	width: 52.7px;
  	position: relative;
  	height: 39.1px;
}
.enjoy-the-full {
  	width: 278px;
  	position: relative;
  	font-weight: 300;
  	color: #000;
  	text-align: left;
  	display: inline-block;
}
.publication-week-container {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 175.8px;
  	height: 24px;
}
.group-wrapper5 {
  	width: 175.8px;
  	position: relative;
  	height: 24px;
}
.group-parent2 {
  	width: 368px;
  	position: relative;
  	height: 789px;
}
.section2 {
  	width: 1440px;
  	background: linear-gradient(180deg, #f3f8ff, #e7effa);
  	height: 1167px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 133px 180px 84px;
  	box-sizing: border-box;
  	text-align: center;
  	font-size: 14.77px;
  	color: #000b33;
  	font-family: Poppins;
}
.mainprimary {
  	position: absolute;
  	top: 810px;
  	left: 0px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	font-size: 36px;
}
.scan-detect-remove {
  	position: absolute;
  	top: -1px;
  	left: 0px;
  	line-height: 30px;
  	font-weight: 800;
}
.svg-icon15 {
  	width: 36px;
  	position: relative;
  	height: 36px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.icons8-google-translate-1 {
  	width: 38px;
  	position: relative;
  	height: 43px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.ul {
  	position: absolute;
  	top: 78px;
  	left: 0px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 160.8px 36px 0px;
  	gap: 39.6px;
}
.privacy-policy {
  	position: relative;
  	text-decoration: underline;
  	line-height: 15px;
}
.ulmenu-secondary-menu-1 {
  	position: absolute;
  	top: 162px;
  	left: 0px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 4px 149.4px 13px 0px;
  	gap: 25.6px;
  	font-size: 11px;
}
.div25 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 312px;
  	height: 182px;
}
.copyright-2022 {
  	width: 306.1px;
  	position: relative;
  	line-height: 15px;
  	display: flex;
  	align-items: center;
}
.bigger-picture {
  	text-decoration: underline;
}
.designed-developed-container {
  	position: relative;
  	line-height: 15px;
}
.div26 {
  	position: absolute;
  	top: 230px;
  	left: 0px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 5.9px 0px 0px;
  	gap: 18px;
  	font-size: 11px;
}
.formnewsletter-signup-footer-1 {
  	width: 436px;
  	position: absolute;
  	margin: 0 !important;
  	top: 0px;
  	left: 0px;
  	height: 232.4px;
  	z-index: 0;
}
.sign-up-to {
  	position: relative;
  	letter-spacing: -0.48px;
  	line-height: 30px;
  	font-weight: 800;
}
.receive-the-latest {
  	width: 358.2px;
  	position: relative;
  	font-size: 15px;
  	line-height: 20px;
  	display: flex;
  	align-items: center;
}
.div29 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 5.8px 0px 0px;
  	gap: 21px;
}
.email-address {
  	position: relative;
}
.divplaceholder {
  	position: absolute;
  	top: 8px;
  	left: 16px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 123.8px 0px 0px;
}
.inputnewsletter-email {
  	position: absolute;
  	width: calc(100% - 109.2px);
  	top: 0px;
  	right: 109.2px;
  	left: 0px;
  	border-radius: 21px 0px 0px 21px;
  	background-color: #fff;
  	height: 34.4px;
}
.submit {
  	position: absolute;
  	top: 8px;
  	left: calc(50% - 27.37px);
  	line-height: 18.4px;
  	font-weight: 800;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 54.9px;
  	height: 18px;
}
.button4 {
  	position: absolute;
  	width: calc(100% - 254.8px);
  	top: 0px;
  	right: 0px;
  	left: 254.8px;
  	border-radius: 0px 21px 21px 0px;
  	background-color: #02033b;
  	height: 34.4px;
  	text-align: center;
  	color: #fff;
}
.div30 {
  	width: 364px;
  	position: relative;
  	height: 34.4px;
  	font-size: 15px;
  	color: rgba(2, 3, 59, 0.5);
}
.div28 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 36px;
  	z-index: 1;
}
.formnewsletter-signup-footer- {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 42px;
  	background-color: #ffc247;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 35px 36px 36px;
}
.div27 {
  	position: absolute;
  	width: calc(100% - 620px);
  	top: 0px;
  	right: 0px;
  	left: 620px;
  	height: 351px;
  	overflow: hidden;
  	color: #02033b;
}
.apple-the-apple {
  	position: absolute;
  	top: 539px;
  	left: 0px;
  	font-size: 12px;
  	line-height: 15px;
  	display: flex;
  	align-items: center;
  	width: 549.9px;
}
.div24 {
  	width: 1056px;
  	position: relative;
  	height: 584px;
}
.footer {
  	position: absolute;
  	top: 4419px;
  	left: 0px;
  	background-color: #02033b;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 96px 192px;
  	font-size: 23px;
  	color: #fff;
}
.divbefore {
  	width: 1440px;
  	position: absolute;
  	margin: 0 !important;
  	top: 51px;
  	left: 0px;
  	background: linear-gradient(0deg, #e7effa, rgba(255, 255, 255, 0));
  	height: 51px;
  	z-index: 0;
}
.logosvg-icon {
  	width: 70px;
  	position: relative;
  	height: 54px;
  	z-index: 1;
}
.home {
  	position: absolute;
  	top: calc(50% - 12.5px);
  	left: 0px;
  	line-height: 25px;
  	font-weight: 800;
}
.services {
  	position: absolute;
  	top: calc(50% - 12.5px);
  	left: 114.31px;
  	line-height: 25px;
  	font-weight: 800;
}
.prices {
  	position: absolute;
  	top: calc(50% - 12.5px);
  	left: 239.56px;
  	line-height: 25px;
  	font-weight: 800;
}
.contact {
  	position: relative;
  	line-height: 25px;
  	font-weight: 800;
}
.aafter-icon {
  	width: 12px;
  	position: relative;
  	height: 7px;
}
.a6 {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 9.1px;
}
.limenu-item-212908 {
  	position: absolute;
  	top: 0px;
  	left: 332.13px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 14.5px 0px;
}
.ulmenu-main {
  	width: 492.2px;
  	position: relative;
  	height: 54px;
}
.sign-in {
  	position: relative;
  	line-height: 18px;
  	font-weight: 800;
}
.a7 {
  	border-radius: 42px;
  	background-color: #4335de;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 16px 21px 16px 20px;
  	font-size: 15px;
  	color: #fff;
}
.div32 {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 48px;
  	z-index: 2;
}
.div31 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #f3f8ff;
  	width: 1440px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 24px 120px;
  	box-sizing: border-box;
  	gap: 410.8px;
  	font-size: 19px;
}
.certosoftwarecom {
  	width: 100%;
  	position: relative;
  	height: 5195px;
  	text-align: left;
  	font-size: 60px;
  	color: #02033b;
  	font-family: Inter;
}

